@import 'nib'
@import 'normalize'
@import 'fonts'
@import 'foundation'

color-gestion     = rgb(0, 46, 52)
color-docencia    = rgb(54, 95, 111)
color-investigacion = rgb(11, 165, 158)
color-extension   = rgb(11, 165, 105)
color-anuncios    = rgb(92, 134, 6)
color-colaboraciones = rgb(140, 172, 42)
color-gaceta      = '#9932cc'

body
  font-size 16px
  font-family 'Open Sans'
  margin 0 auto 
  /*background linear-gradient(rgba(199,200,200,1) 0%, rgba(199,200,200,1) 21%, rgba(225,225,225,1) 41%, rgba(237,237,237,1) 60%, rgba(237,237,237,1) 78%, rgba(232,236,241,1) 100%)*/
  background #ededed
  background-attachment:fixed  
header
  padding-top 198px
  background url('../img/background.jpg') #ededed no-repeat
  background-position top

.main-wrapper
  max-width 1000px
  margin 0 auto

figure
  padding 0
  margin 0

img
  max-width 100%

.menu
  background black
  padding 5px 
  ul
    padding 0
    li
      display inline-block
      a
        font-size .8em
        padding 10px 15px
        color #707070
        border-radius 5px
        text-decoration none
        &:hover
          background #05a9ac
          color white
        
h1,h2,h3
  font-family 'Oswald'
  font-weight 300
  color #333333
  
h2
  margin-bottom 5px
  
h4
  margin 5px
  font-size 14px
  
a
  text-decoration none
  color #333
  
p
  font-size .9em
  
input,select
  border 1px solid #d5dbe0
  border-radius 4px
  padding 5px
  color #d5dbe0
  font-size .8em
  max-width 100%
label
  font-weight bold
  font-size .8em

button
  border 0
  
footer
  background url('../img/footer-background.jpg') bottom no-repeat
  background-size cover
  overflow hidden
  min-height 500px
  h4
    font-size 14px
    font-weight bold

.btn
  background #ededed
  color #666666
  border-radius 4px
  padding 5px 15px
  font-size .8em
  text-decoration none  
  margin-top 20px
  margin-bottom 50px
  
.breadcrumb
  padding  0 0 0 10px
  li
    display inline-block
    font-size .8em
.img-box
  border 4px solid white
  box-shadow 0px 3px 5px rgba(0,0,0,0.7)

.header-text
  background white
  padding 15px 30px 30px 40px
  margin 30px 0
  font-size .8em
  line-height 1.8em
  
.header-number
  h2
    font-family 'TypewriterForMe'
    text-align right
 
.text-columns
  columns 3
  
.text-big
  font-size 130%
  
.main-content
  padding 10px 0 60px 0
  background white  
  overflow hidden
  margin-bottom 20px
  
    
.fondo-index
  background url('../img/pleca-cita.jpg') no-repeat
  height 320px
  color white 
  padding  60px 170px 100px 60px
  margin-top -35px
  font-size .9em
  width: 97%;
  margin: 0 auto;
  
.post-title
  border-bottom 1px solid #adadad
  overflow hidden
  margin-bottom 10px
  
  .gaceta-title-sub
    font-family 'Oswald'
    text-align center
    
.gaceta-numero
  font-size 2em
  font-weight bold
  font-family 'Oswald'
  display block
  padding 5px 0 0 0
  margin-bottom 10px
  border-bottom 1px solid #adadad
  
.post-author
  color #a38ca3
  text-transform uppercase
  font-size .8em
  padding 15px 0 0 15px
  margin-bottom -10px

.notas-home-destacadas
  padding 25px 0 40px 0
  margin-top 0px
  background url('../img/pleca-sombra-276.png') no-repeat top left
  li
    padding 10px 0
    font-size .8em
    border-bottom 1px solid #adadad
    list-style url('../img/list-bullet.png')
    list-style-position inside
    &last-child
      border-bottom none
      
.busqueda-de-gaceta
  .control
    margin 10px 0
  input,select
    width 100%
    
.section-pleca
  padding 10px
  font-family 'TypewriterForMe'
  color white
  background black
  margin-bottom 5px
  
.pleca-sombra-276
    background url('../img/pleca-sombra-276.png') no-repeat top left

.list-masleidos
  padding 15px 0 0 0
  li
    padding 20px 0
    font-size .8em
    list-style none
    border-bottom 1px solid #d3d3d3
    overflow hidden
  .title-post
    font-weight bold
  .author 
    color #a9a9a9
    font-size .9em
    text-transform uppercase
    padding-bottom 20px

.gacetas-anteriores
  font-size .8em
  a
    font-size .9em
    
.title-section
  padding 10px 
  margin 20px 0 0 5px
  &:first-child
    margin-top 10px
    
.box-section
  border 13px solid 
  display inline-block
  margin-right 15px
  &.aqua
    border-color color-investigacion
  &.green
    border-color color-extension
  &.mora
    border-color color-gestion
  &.green-docencia
    border-color color-docencia

.section-content
  margin 0 15px
  text-transform: uppercase;
  font-size: 13px;
  color: #666;
  font-weight: bold;
  vertical-align: top;
  
  .box-section
    border: 10px solid #0ba569;
    margin-top: -1px;

.title-post-section
  background #0ba59e
  color white
  padding 20px
  margin 0
  &.aqua
    background color-investigacion
  &.green
    background color-extension
  &.mora
    background color-gestion
  &.green-docencia
    background color-docencia

.fecha-post
  background #333333
  color white
  padding 8px 20px
  text-transform uppercase
  font-size .8em
  
.post-description
  color #6f6f6f
  font-size .8em
  margin-bottom 35px
  min-height 120px

.footer-post 
  background #333333
  color white
  padding 8px
  text-transform uppercase
  font-size .8em

.footer-links
  margin-bottom 250px
  padding-bottom 20px
  border-bottom 1px solid #d3d3d3
  box-shadow 0px 1px 1px rgba(0,0,0,.3) 
  h4
    font-size .8em

.footer-list
  padding 0
  li
    padding 5px
    border-bottom 1px solid #d3d3d3
    font-size .8em
    list-style none    
    
.padding-0
  padding 0
  

    
.gestion
  background color-gestion
  
.docencia
  background color-docencia
  
.extension
  background color-extension
  
.anuncios
  background color-anuncios
  
.colaboraciones
  background color-colaboraciones
  
.gaceta     
  background color-gaceta
  
.investigacion
  background color-investigacion
  
.pleca-seccion
  color white
  h1
    color white
    
.txt-center
  text-align center

.txt-right
  text-align right
  
.form-inline
  .control  
    display inline-block
    padding 10px
    label
      display block
      font-weight bold
      
.detail-post
  color #8d0060
  font-size .8em
  text-transform uppercase
  margin 5px 0 10px 0

.post-section  
  h3
    margin 15px 0 5px 0
  p
    font-size .8em
    margin 0
    
.ui-widget
  font-size 0.8em
  
.main-post
  padding-top 25px
  .post-title
    padding-left:0
  .post-author
    padding-left 0
    
.content-post
  padding 0 10px 20px 15px
.title-post
  h1
    padding 0 15px
    
.white
  color white

.section-list-sections,.list-section-post, .mas-leidos-post
  figure
    background #ccc
    min-height 149px
    img
      max-height 149px
      display block
      margin 0 auto
      
.mas-leidos-post
  h2
    padding-left 15px
  .post-mas-leido
    padding-bottom 30px
    h4
      margin 5px 0px

.section-content
    padding-left 0
    margin-top 10px
    
.list-section-post
  min-height 260px


.pagination 
  display: inline-block
  padding-left: 0
  margin: 20px 0
  border-radius: 4px

.pagination > li 
  display: inline

.pagination > li > a,
.pagination > li > span 
  position: relative
  float: left
  padding: 6px 12px
  margin-left: -1px
  line-height: 1.42857143
  color: #428bca
  text-decoration: none
  background-color: #fff
  border: 1px solid #ddd

.pagination > li:first-child > a,
.pagination > li:first-child > span 
  margin-left: 0
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px

.pagination > li:last-child > a,
.pagination > li:last-child > span 
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus 
  color: #2a6496
  background-color: #eee
  border-color: #ddd

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus 
  z-index: 2
  color: #fff
  cursor: default
  background-color: #428bca
  border-color: #428bca

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus ,
  color: #999
  cursor: not-allowed
  background-color: #fff
  border-color: #ddd

.attach-file
  margin 15px

#mobile-header 
  display none
  background #333
  padding 14px
  a
    padding 10px 15px
    color #707070
    -webkit-border-radius 5px
    border-radius 5px
    text-decoration none
    &:hover
      background #05a9ac
      color #fff

.top-icons
  position absolute
  right 15%
  top 80px
  img
    vertical-align bottom
    
@media (max-width: 1280px)
  header
    padding-top 0
    background none
  .top-icons
    display none

@media (max-width: 1025px)
  .searchbox
    .author
      padding-left 0

@media (max-width: 900px)
  header
    margin-top 52px
  #mobile-header 
    display block  
    display block
    position fixed
    width 100%
    top 0
    z-index 99999
  #navigation
    display none
  
          
@media (max-width: 768px)
  .fondo-index
    padding 50px 30px
    height auto
    
  .main-content
    padding 0
    
  .busqueda-de-gaceta 
    .control
      margin 0
      
  .section-mas-leido
    display none
  
  .section-list-sections
    padding 0
    
  .footer-post
    display none
    
  .content-post
    padding 0 10px 20px 15px
    
  .section-content
    padding-left 00px
   
    
  .post-author
    margin-bottom 0
    
  .section-list-sections figure img, .list-section-post figure img, .mas-leidos-post figure img
    max-height 250px
      
  .post-mostview-info
    padding 0
  
  #bx-pager
    display none
    
  .post-description
    min-height none

@media print
  
  header
    display none
  footer
    display none
  
  .menu
    display none
  
  .breadcrumb
    display none
    
  .others-images
    display none
    
  .mas-leidos-post
    display none
  
